.item{
  margin-bottom: 10px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  background-color: rgba(0,48,120,.079);
  padding: 8px;
  border-radius: 4px;
  position: relative;

  @media (min-width:600px) {
    margin-bottom: 15px;
    padding: 10px;
  }

  @media (min-width:600px) {
    margin-bottom: 20px;
    padding: 10px;
  }

  &:last-child{
    margin-bottom: 0;
  }

  h2{
    margin-bottom: 15px;
    font-size: 16px;

    @media (min-width:600px) {
      font-size: 20px;
      margin-bottom: 35px;
    }
  }

  .created_at{
    position: absolute;
    bottom: 10px;
    right: 10px;
  }
}

.btns{
  button{
    padding: 4px 6px;
    font-size: 12px;
    font-weight: 300;
    background-color: rgba(#005bff, 0.25);
    border: none;
    outline: none;
    border-radius: 4px;

    @media (min-width:600px) {
      padding: 8px 12px;
      font-size: 14px;
    }
  }

  .delete{
    margin-left: 8px;
    background-color: red;
    color:#fff;

    @media (min-width:600px) {
      margin-left: 15px;
    }
  }
}