@import '../../styles/variables.scss';

.addNewIncome{
  text-align: right;
  margin-bottom: 20px;

  .btn{
    padding: 15px;
    font-size: 14px;
    font-weight: 500;
    background-color: rgba($color-5, 0.25);
    border: none;
    outline: none;
    border-radius: 8px;

    @media (min-width:600px) {
      padding: 20px;
      font-size: 16px;
    }
  }
}