.form{
  input{
    display: block;
    padding: 10px;
    font-size: 16px;
    font-weight: 400;
    width: 100%;
    margin-bottom: 15px;
  }
}

.submit{
  background-color: darkgreen;
  color:#fff;
  outline: none;
  border:none;
  padding: 15px;
  border-radius: 4px;
  font-size: 16px;
  width: 100%;
}

.category{
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 15px;
}