.btn{
  color:#fff;
  width: 100%;
  padding: 15px;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  background-color: rgba(#005bff, 0.5);
  border: none;
  outline: none;
  border-radius: 8px;
}